nav {
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    background-color: #0548A1;
}

.nav__left {
    display: flex;
    align-items: center;
}

.nav__right {
    display: flex;
    align-items: center;
}

nav p {
    margin-right: 3rem;
    color: #fff;
    font-weight: 600;
}

nav input[type=text] {
    border: none;
    padding: 7px 15px;
    background-color: #376CBA;
    width: 30rem;
    outline: none;
}

nav ::placeholder {
    color: #92BAF8;
}